* {
    box-sizing: border-box;

}

body {
    font-family: "Roboto", sans-serif;
}

.caixa-quiz,
button {
  cursor: pointer;
}

header {

    background-color: #ec362d;
    height: 69px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #ffff;
    text-align: center;
    padding: 13px 0;
}


h1 {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #ffff;
    text-align: center;
    padding: 13px 0;

}

h2 {
  margin-left: 111px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.quizes {
  display: flex;
  flex-wrap: wrap;
  width: 1051px;
  margin: 0 auto;
}

.caixa-quiz {
  position: relative;
  width: 340px;
  height: 181px;
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #000000 100%
    ),
    url();
  border-radius: 5px;
  margin: 12px 10px 12px 0px;
}

.caixa-imagem {
  position: relative;
}

.imagem-quiz {
  border-radius: 5px;
  width: 340px;
  height: 181px;
}

.gradiente {
  border-radius: 5px;
  width: 340px;
  height: 181px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  position: absolute;
  top: 0;
  left: 0;
}

.titulo {
  position: absolute;
  bottom: 10px;
  left: 17px;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
}

.botao-criar-quiz {
  width: 1051px;
  height: 181px;
  margin: 77px auto;
  background: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botao-criar-quiz p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 30px;
  color: #b9b9b9;
}

.botao-criar-quiz button {
  width: 151px;
  height: 40px;
  background: #fafafa;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #ec362d;
}

@media (max-width: 1100px) {
  .conteudo {
    width: 100%;
    margin: 0 auto;
  }

  .todos-quizes {
    width: 340px;
  }

  .botao-criar-quiz {
    width: 100%;
  }
}

/* layout pagina 2 */
.titulo-quiz {
    width: 100%;
    height: 227px;
    position: relative;
    top: 0px;
    left: 0;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-quiz p {
  font-weight: 400;
  font-size: 39px;
  line-height: 46px;
  color: #ffffff;
  position: absolute;
  z-index: 1;
}

.img-titulo {
  width: 100%;
  position: absolute;
  height: 227px;
  top: 0px;
  left: 0;
}

.sombra {
    width: 100%;
    position: absolute;
    height: 227px;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
}

.caixa-pergunta {
    width: 759px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin: 42px auto 0 auto;

}



.perguntaCaixa {
  width: 688.16px;
  height: 137.99px;
  background: #434ca0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.container-respostas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.caixa-respostas {
    width: 329.91px;
    height: 175.2px;
    margin: 0 10px 60px 0;

}

.img-resposta {
    width: 100%;
    height: 100%;

}

.resposta {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.caixa-pergunta:not(.fechada) .caixa-respostas:not(.selecionado) {
  transition: all 500ms linear;
  filter: opacity(50%);
}

.caixa-pergunta:not(.fechada) .caixa-respostas {
  color: red;
}

.caixa-pergunta:not(.fechada) .certa {
  color: green;
}

.tela-level {
    width: 759px;
    height: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin: 70px auto;
}

.titulo-level {
  width: 100%;
  height: 99px;
  background-color: #ec362d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-level p {
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  color: #ffffff;
}

.caixa-level {
    display: flex;
    margin: 18px auto 0 auto;
}

.caixa-level img {
  width: 364px;
  height: 273px;
  margin-right: 20px;
}

.caixa-level p {
  font-weight: 700;
  font-size: 19px;
  line-height: 25px;
  color: #484848;
}

.finalizar {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;

}

.reiniciar {
    width: 260.38px;
    height: 52px;
    background: #EC362D;
    border-radius: 15px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    border: none;

}

.home {
    margin: 20px auto;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    background-color: #FFFFFF;
    border: none;
}

@media (max-width:1100px) {
    .caixa-pergunta {
        width: 100%;


    }

    .pergunta {
        width: 90%;
        height: 89px;
    }

    .caixa-respostas {
        width: 164px;
        height: 113px;


    }

    .caixa-respostas p {
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
    }
}
